@import "tailwindcss";

/* ////////////////////////////////  Roots Normalize ///////////////////////////////// */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

main {
    overflow-x: hidden;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #343942;
    border-left: 1px solid #4f535b;
}

::-webkit-scrollbar-thumb {
    background-color: #e1b168;
    border-radius: 10px;
}

::selection {
    background-color: #e1b168;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox uchun */
} 

button{
    cursor: pointer;
}

li {
    list-style: none;
}

.CormorantInfant {
    font-family: 'Cormorant Infant';
}

.JosefinSans {
    font-family: 'Josefin Sans';
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

.swiper {
    width: 100%;
    height: 500px !important;
}

.swiper-wrapper {
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #343942;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background-color: #fff !important;
}

.attach {
    background-image: url("./assets/wrapback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50%; */
    background-attachment: fixed;
    /* height: 100vh; */
}

.offer1 {
    background-image: url("./assets/offers1.jpg");
}

.offer2 {
    background-image: url("./assets/offers2.jpg");
}

.reservation {
    background-image: url("./assets/eservation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overcard1 {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-out;
}

.card1:hover .overcard1 {
    opacity: 1;
    visibility: visible;
}

#navbar a.active {
    color: #e1b168 !important;
}

#drawer.active {
    top: 0;
}

#drawerBtn.active {
    background-color: #e1b168;
}

#drawerBtn.active span{
    background-color: #fff;
}

#drawerBtn.active span:nth-child(2) {
    display: none;
}
#drawerBtn.active span:nth-child(1) {
    margin-left: 4px;
    margin-top: 4px;
    transform: rotate(45deg);
}
#drawerBtn.active span:nth-child(3) {
    margin-left: 4px;
    margin-top: -6px;
    transform: rotate(-45deg);
}